<div class="main-div" >
  <mat-card>
    <mat-card-title>
        <span>{{ recipe.title }}</span>
    </mat-card-title>
    <mat-card-content>
      <div>
        <p> {{recipe.description}} </p>
      </div>
      <div>
        <p  *ngFor="let ingredient of recipe.ingredients">
          - {{ingredient.quantity}} {{ingredient.unit}} {{ingredient.name}}
        </p>
      </div>
      <div>
        <p  *ngFor="let step of recipe.steps">
          {{step}}
        </p>
      </div>
      <div>
        <a mat-button title="Delete" (click)="delete(recipe)">
          <span>Supprimer</span>
        </a>
        <a mat-button title="Edit" (click)="update(recipe)">
          <span>Modifier</span>
        </a>
      </div>
    </mat-card-content>
  </mat-card>
</div>
