<div class="main-div">
  <mat-card [class.mat-elevation-z12]="true" class="card list-recipe-item">
    <mat-card-header>
      <mat-card-title><h1>Liste des recettes</h1></mat-card-title>
    </mat-card-header>
    <mat-card-content style="text-align: center">
      <mat-form-field class="example-form-field" style="width: 80%;">
        <mat-label>rechercher par titre...</mat-label>
        <input matInput type="text" [(ngModel)]="valueTitle">
        <button mat-button *ngIf="valueTitle" matSuffix mat-icon-button aria-label="Clear" (click)="valueTitle=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
      <mat-form-field class="example-form-field" style="width: 80%;">
        <mat-label>rechercher par auteur...</mat-label>
        <input matInput type="text" [(ngModel)]="valueAuthor">
        <button mat-button *ngIf="valueAuthor" matSuffix mat-icon-button aria-label="Clear" (click)="valueAuthor=''">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </mat-card-content>
    <mat-card-content class="list-recipe-item-div" style="text-align: center">
      <app-recipes *ngIf="!loading" [recipes]="filteredRecipes"></app-recipes>
      <button style="background-color: transparent" mat-button disabled>
        <mat-spinner [diameter]="70" *ngIf="loading"></mat-spinner>
      </button>
    </mat-card-content>
  </mat-card>
</div>
