mat-toolbar .flex {
  flex: 1 1 auto;
}

mat-toolbar{
  margin-bottom: 0px;
}

.backgroundImage{
  background-image: url("../assets/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
