html, body {
  overflow: hidden;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #FAFAFA;
  -webkit-font-smoothing: antialiased;
}

.card {
  max-width: 80%;
  float: left;
  box-shadow: 5px 5px 18px 5px #000000;
}

.main-div{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mat-button{
  color: #FAFAFA;
  background-color: #008744;
}

.list-recipe-item{
  width: 80%;
  max-width: 700px;
  overflow-y: auto;
  max-height: 70%;
}
