<div class="main-div">
  <mat-card [class.mat-elevation-z12]="true" class="card">
    <mat-card-header style="text-align: center">
      <mat-card-title><h1>Cookie Book !</h1></mat-card-title>
      <mat-card-subtitle><h3>Super application qui permet de recenser vos magnifiques recettes !</h3></mat-card-subtitle>
    </mat-card-header>
    <mat-card-content style="text-align: center">
      <h4>
        Si toi aussi, t'as envi de partager tes recettes, inscris toi !
      </h4>
    </mat-card-content>
    <mat-card-actions style="text-align: center; margin-bottom: 15px;">
      <button [routerLink]="['/recipes']" class="mat-button">Voir les recettes</button>
      <button *ngIf="!connected()" [routerLink]="['/inscription']" mat-button> S'inscrire </button>
      <button *ngIf="connected()" [routerLink]="['/my_recipes']" mat-button> Mes recettes </button>
    </mat-card-actions>
  </mat-card>
</div>



